<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.health.mental.mooditude">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MooditudeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FindMyTherapistActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.HowYouFeelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.JournalPromptCatDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.JournalPromptDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JournalNewEntryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ui.community.AddPostCommentActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ui.community.AddNewPostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ui.community.PostDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.TherapistFeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JournalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.M3AssessmentScoreFullActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.M3AssessmentScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CustomDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/DialogStyle2" />
        <activity
            android:name=".activity.PromoCodeDialogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MAssessmentFlowDialog2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScoreCalculatingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.M3AssessmentStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MAssessmentFlowDialog"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.M3AssessmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/HomePageTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ProfileCompletedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!--Fresh Chat SDK-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/freshchat_file_provider_paths" />
        </provider>

        <service
            android:name=".fcm.MoodyFcmService"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
 See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_onesignal_default" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/brand_yellow" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:exported="true"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.WelcomeUserActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SetUserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.EmailRegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name="com.mixpanel.android.mpmetrics.MixpanelPushNotificationDismissedReceiver"
            android:exported="false">
        </receiver>
        <activity android:name="com.mixpanel.android.mpmetrics.MixpanelNotificationRouteActivity"
            android:exported="false">
        </activity>

        <receiver android:name="com.freshchat.consumer.sdk.receiver.FreshchatReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.freshchat.consumer.sdk.receiver.FreshchatNetworkChangeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>